

body {
    margin: 0; 
    padding: 0;
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #424874
}

header {
  background: #231651;
  padding: 1%;
  text-align: right;
}

a{
  color: white;
}

footer{
  color: #54597e;
  bottom: 0;
  width: 100%;
  text-align: center;

    position: absolute;
    height: 40px;
    font-size: 1rem;

}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 4em;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
letter-spacing: 2px;
color: #231651;
font-size: 1.5rem;
border-radius: 40px;
background: #E9D758;
padding: 1%;
margin-top: 1rem;
border: 4px solid #E9D758;
transition: all 0.4s ease 0s;
}

button:hover {
color: #ffffff;
background: #231651;
border-color: #231651;
transition: all 0.4s ease 0s;
}

button:focus {outline:0;}

.memeContainer {
    text-align: center;
    position: relative;
    height: 50vh;
    width: 50vh;
    padding: 1%;
    border-radius: 2%;
    background: #54597e;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #424874;
  }

  .overlay .name {
    color: white;
    font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .memeContainer:hover .overlay {
    opacity: 0.8;
  }

  /*
  https://coolors.co/424874-e9d758-e54b4b-231651-ffffff
  */
