body {
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 700%;
    text-align: center;
    color: grey;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.container * {
    margin: 0.5%;
}
  
  img {
      width: 90%;
  }
  
button {
font-family: 'Fredoka One', cursive;
letter-spacing: 5px;
color: #494949;
font-size: 400%;
border-radius: 10px;
background: #ffffff;
padding: 20px;
border: 4px solid #494949;
transition: all 0.4s ease 0s;
}

button:hover {
color: #ffffff;
background: #4070f8;
border-color: #4070f8;
transition: all 0.4s ease 0s;
}

button:focus {outline:0;}

.memeContainer {
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }

  .overlay .name {
    color: black;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .memeContainer:hover .overlay {
    opacity: 0.8;
  }